// Define variables for your color scheme

// For example:
$red: rgb(176,30,72);
$blue: rgb(112,177,186);
$yellow: rgb(179,165,122);
$orange: rgb(228,102,82);
$green: rgb(125,186,66);
$gray: rgb(29,29,28);
$light-gray: #F4F4F4;
