<!-- --back to the top-------- -->
  <a href="#" class="back-to-top"><i class="fas fa-angle-double-up"></i></a>

<!-- ----------scrolling text------ -->
<div class="text-wrap">
    <div class="marquee">
      <p> <i class="fab fa-css3-alt"></i> <i class="fab fa-html5"></i> <i class="fab fa-react"></i> <i class="fab fa-sass"></i> <i class="fab fa-bootstrap"></i> <i class="fab fa-js"></i> <i class="fab fa-git"></i> <i class="fab fa-github-alt"></i>  SQL </p>
    </div>
</div>
<br>
<br>
<!-- -------main links---- -->
<ul>
  <li><a href="#bio">Bio</a></li>
  <li><a href="#projects">Projects</a></li>
  <li><a href="#contacts">Contacts</a></li>
  <li><%= link_to 'Music', music_pages_path %></li>
</ul>
<!-- ----banner------- -->
<div class="wrap">
  <h1> <strong>db</strong></h1>
  <h6 class="web">web</h6>
  <p>Hi my name si Lyubomir Dias, a Junior Web Developer</p>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laudantium earum odit veritatis necessitatibus dolore harum dolor fugiat minus. Possimus culpa nobis exercitationem ratione repellendus eaque, iste praesentium consequuntur laboriosam at, dolore atque assumenda rem tempore enim voluptatem, fuga, harum incidunt accusamus ea. Fugit veniam architecto, rem facere recusandae! Dolorem!</p>
  <a href="http://airchef2020.herokuapp.com/">AirChef</a>
  <a href="http://www.yourfestipal.com/">FestiPal</a>
  <a href="https://www.bisimpact.com/">BisImpact</a>
  <a href="http://www.nessycreativitycrafts.com/">NCC</a>
  <br>
  <br>
  <!-- ----resume------- -->
  <p><a href="#">Resume</a></p>
  <br>
  <br>
  <!-- ---fav resources---- -->
  <h4>Favorite Resource</h4>
  <ul>
    <li>YouTube</li>
    <li>Free Code Camp</li>
    <li>Udemy</li>
    <li>W3School</li>
  </ul>
</div>



  <!-- ----------bio-------------- -->

<div id="bio">
  <p>BIO ---- Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Accusamus alias voluptates laudantium! Delectus nulla eos, aperiam odit quibusdam inventore placeat?</p>
</div>

<!-- ------projects------ -->
<div id="projects">
  <ul>
  <a href="http://airchef2020.herokuapp.com/">AirChef</a>
  <a href="http://www.yourfestipal.com/">FestiPal</a>
  <a href="https://www.bisimpact.com/">BisImpact</a>
  <a href="http://www.nessycreativitycrafts.com/">NCC</a>
</ul>
</div>

<!-- ---contacts----- -->
<div id="contacts">
  <p>phone - 029839832</p>
  <p>email - jhbdhjsadhjb</p>
</div>















