

<!-- --back to the top-------- -->
  <a href="#" class="back-to-top"><i class="fas fa-level-up-alt"></i></a>

<!-- ----banner------- -->
<div class="wrap-music" data-aos="zoom-out" data-aos-duration="3000">

<!-- -------main links---- -->
  <div class="main-links" data-aos="fade-down" data-aos-duration="3000">
    <ul>
      <li><a href="#blog">Blog</a></li>
      <li><a href="#video">Video</a></li>
      <li><a href="#bio">Bio</a></li>
      <li><a href="#contacts" >Contacts</a></li>
      <li><a href="#music">Music</a></li>
    </ul>
  </div>
  <h1 data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000"><strong>db</strong></h1>

  <div id="app">
    <div id="wrapper">
      <h1 class="glitch web" data-text="music">music</h1>
    </div>
  </div>
  <!------- media links -->
  <div class="music-links mt-3">
    <ul class="music-links-ul">
      <li class="music-links-li"><a href="https://www.facebook.com/profile.php?id=100010174355792" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li class="music-links-li"><a href="https://www.youtube.com/channel/UCa-Vo91LgoOCAP4p1kEx9IA" target="_blank"><i class="fab fa-youtube"></i></a></li>
      <li class="music-links-li"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li class="music-links-li"><a href="https://soundcloud.com/antoan-dias" target="_blank"><i class="fab fa-soundcloud"></i></a></li>
      <li class="music-links-li"><a href="https://www.instagram.com/antoan_dias/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
</div>

<!-- <div class="div-to-web text-center pt-5">
  <%= link_to image_tag("db-web-logo.png", class: "link-to-music"), root_path %>
  <p class="red">by Lyubomir Dias</p>
</div> -->

<!-- ------------info div----------- -->
<div class="wrap-info-music pt-5" >
  <h2>Hi my name si <span class="spec-text">Antoan Dias</span> , a self thought <strong>Music Maker</strong></h2>
  <br>
  <div class="container">
    <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laudantium earum odit veritatis necessitatibus dolore harum dolor fugiat minus. Possimus culpa nobis exercitationem ratione repellendus eaque, iste praesentium consequuntur laboriosam at, dolore atque assumenda rem tempore enim voluptatem, fuga, harum incidunt accusamus ea. Fugit veniam architecto, rem facere recusandae! Dolorem!</h4>
    <br>
    <br>
    <br>

  </div>
</div>

<!-- -----you tube videos -->
<div class=" text-center mt-5 wrap-videos">
  <h2>You Tube Videos</h2>
  <p>Please subscribe to my chanel and help me grow it. <br> Thank You!</p>
  <div class="videos " id="video">
    <div>
      <iframe  height="315" src="https://www.youtube.com/embed/ilwKKegcpIc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
      <iframe height="315" src="https://www.youtube.com/embed/0pyJ10LbnqE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
      <iframe height="315" src="https://www.youtube.com/embed/VwPg3GboN8g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
  <!-- ----------bio-------------- -->

<div id="bio" class=" bio-music pt-5 pb-5" data-aos="zoom-out" data-aos-duration="3000">
  <%= image_tag "toni-profile.jpg", class: "toni-img" %>
  <div class="inner-bio container">
    <br>
    <h3 class="text-center">My Bio</h3>
    <br>
    <p>Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Iusto neque eius facilis voluptatem aperiam molestiae, ipsum quod, labore. Cumque quod, velit excepturi molestias ut totam voluptatibus dolores facere hic atque ipsa aliquid vero dignissimos aperiam at quibusdam sapiente, esse suscipit magnam laboriosam quaerat ducimus est cupiditate earum voluptatem. Voluptates, accusamus placeat atque eos nam exercitationem eligendi tempore adipisci. Repellendus vel modi praesentium veritatis doloribus earum nostrum sint, consequuntur quisquam, ullam veniam blanditiis assumenda iure voluptate quidem natus optio. Praesentium excepturi fugit, provident qui doloremque aliquid accusantium sit. Voluptas, fugiat corrupti quod quos, rem recusandae similique cum vel quidem. Inventore, est.</p>
  </div>
</div>

<!-- -----sound cloud----- -->
<div id="music" class="container text-center pt-5 pb-5">
  <h2>My Music on Soundcloud</h2>
  <p>Please go and check it out, don`t forget to subscribe :) <br> Thank You!</p>
  <div class="videos ">
    <div>
      <iframe width="100%" height="300" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1148310751&color=%230a0a0e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
    <div>
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/832932562&color=%230a0a0e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
    <div>
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/832931578&color=%230a0a0e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
  </div>
</div>
<!-- -----BLOG------------------ -->
<div id="blog" class=" blog-music pt-5 pb-5" data-aos="zoom-out" data-aos-duration="3000" >
  <div class="inner-blog container">
      <h4 class="text-center">My Blog</h4>
      <br>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit provident alias aliquid ut rem praesentium accusamus modi pariatur, exercitationem quo quos aperiam optio recusandae sit nostrum corrupti. Ea facere commodi possimus ipsam. Quisquam neque placeat delectus eos ipsam corporis, aspernatur quos ipsa, dolorum aliquam beatae inventore sunt porro dolores odio quae. Quam repellendus reprehenderit laboriosam voluptatum quis natus, aliquam odio molestias, voluptatem sequi. Ratione unde quibusdam eaque expedita hic? Reprehenderit odit natus eligendi fugiat vero reiciendis magnam dolorum ullam. Praesentium, sunt est error officiis aliquid blanditiis adipisci eum vel. Quod illum temporibus eius quas similique et odio fugiat corporis quis aut, pariatur, eaque, error nobis! Nihil aliquid nesciunt fuga facilis ut, alias id eveniet amet eum rem consequuntur ducimus deleniti doloremque. Impedit dignissimos nisi libero eos laborum tempore quia iusto odit optio sit, iure perspiciatis vero voluptates illum illo harum cupiditate ratione fugiat officia nobis, ducimus veniam reiciendis. Eum nihil ex nam dolore error, deleniti obcaecati adipisci itaque porro laudantium earum molestiae beatae quisquam voluptates tempore. Ipsum, obcaecati vitae sunt voluptatem neque sed numquam harum deserunt necessitatibus error facilis molestias, doloremque. Nostrum itaque fuga nam, saepe impedit inventore quae distinctio maiores modi ut exercitationem non eaque fugit, provident velit ea!</p>
    </div>
</div>

<div class="div-to-web text-center pt-5">
  <%= link_to image_tag("db-web-logo.png", class: "link-to-music"), root_path %>
  <p class="red">by Lyubomir Dias</p>
</div>

<!-- ---contacts----- -->
<div class="footer-music container mt-5" id="contacts" >
  <div class="music-links" >
    <ul class="music-links-ul">
      <li class="music-links-li"><a href="https://www.facebook.com/profile.php?id=100010174355792" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li class="music-links-li"><a href="https://www.youtube.com/channel/UCa-Vo91LgoOCAP4p1kEx9IA" target="_blank"><i class="fab fa-youtube"></i></a></li>
      <li class="music-links-li"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li class="music-links-li"><a href="https://soundcloud.com/antoan-dias" target="_blank"><i class="fab fa-soundcloud"></i></a></li>
      <li class="music-links-li"><a href="https://www.instagram.com/antoan_dias/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a></li>
  </div>
  <p class="text-center">© 2020 <span class="spec-text2">db</span> MUSIC </p>

  <div class="by-hover db-music2 text-left">
    <%= link_to image_tag("db-web-logo.png", class: "db-web-logo"), root_path %><p class="by-music2">by Lyubomir Dias</p>
  </div>
</div>

<div class="mobile-navbar-music">
    <ul class="mobile-navbar-music-ul">
      <li class="mobile-navbar-music-li"><a href="#blog"><i class="fab fa-blogger-b"></i><br>Blog</a></li>
      <li class="mobile-navbar-music-li"><a href="#video"><i class="fab fa-youtube"></i><br>Video</a></li>
      <li class="mobile-navbar-music-li"><a href="#bio"><i class="fas fa-book-open"></i><br>Bio</a></li>
      <li class="mobile-navbar-music-li"><a href="#music" ><i class="fas fa-headphones"></i><br>Music</a></li>
      <li class="mobile-navbar-music-li"><a href="#contacts"><i class="fas fa-address-book"></i> <br>Contacts</a></li>
    </ul>
</div>
