<p><%= link_to 'Home', root_path %> </p>

<div class="wrap">
  <h1> <strong>db</strong></h1>
  <h6 class="web">Music</h6>
  <p>Hi my name si Antoan Dias, a Beat Maker/Producer</p>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laudantium earum odit veritatis necessitatibus dolore harum dolor fugiat minus. Possimus culpa nobis exercitationem ratione repellendus eaque, iste praesentium consequuntur laboriosam at, dolore atque assumenda rem tempore enim voluptatem, fuga, harum incidunt accusamus ea. Fugit veniam architecto, rem facere recusandae! Dolorem!</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0pyJ10LbnqE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ilwKKegcpIc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/VwPg3GboN8g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br>
  <br>
  <!-- ----youtube------- -->
  <p><a href="https://www.youtube.com/channel/UCa-Vo91LgoOCAP4p1kEx9IA">Youtube</a></p>
  <br>
  <br>

</div>


































