

<!-- --back to the top-------- -->
  <a href="#" class="back-to-top"><i class="fas fa-level-up-alt"></i></a>

<!-- ----banner------- -->
<div class="wrap-music" data-aos="zoom-out" data-aos-duration="3000">

<!-- -------main links---- -->
  <div class="main-links" data-aos="fade-down" data-aos-duration="3000">
    <ul>
      <li><a href="#blog">Blog</a></li>
      <li><a href="#video">Video</a></li>
      <li><a href="#bio">Bio</a></li>
      <li><a href="#contacts" >Contacts</a></li>
      <li><a href="#music">Music</a></li>
    </ul>
  </div>
  <h1 data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000"><strong>db</strong></h1>

  <div id="app">
    <div id="wrapper">
      <h1 class="glitch web" data-text="music">music</h1>
    </div>
  </div>
  <!------- media links -->
  <div class="music-links mt-3">
    <ul class="music-links-ul">
      <li class="music-links-li"><a href="https://www.facebook.com/profile.php?id=100010174355792" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li class="music-links-li"><a href="https://www.youtube.com/channel/UCa-Vo91LgoOCAP4p1kEx9IA" target="_blank"><i class="fab fa-youtube"></i></a></li>
      <li class="music-links-li"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li class="music-links-li"><a href="https://soundcloud.com/antoan-dias" target="_blank"><i class="fab fa-soundcloud"></i></a></li>
      <li class="music-links-li"><a href="https://www.instagram.com/antoan_dias/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
  <br>
  <h2>Hi my name si <span class="spec-text">Antoan Dias</span> , a self thought <strong>Music Maker</strong></h2>
  <br>
  <br>
</div>


<!-- ------------info div----------- -->
<%# <div class="wrap-info-music pt-5" >
  <h2>Hi my name si <span class="spec-text">Antoan Dias</span> , a self thought <strong>Music Maker</strong></h2>
  <br>
  <div class="container">
    <%# <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laudantium earum odit veritatis necessitatibus dolore harum dolor fugiat minus. Possimus culpa nobis exercitationem ratione repellendus eaque, iste praesentium consequuntur laboriosam at, dolore atque assumenda rem tempore enim voluptatem, fuga, harum incidunt accusamus ea. Fugit veniam architecto, rem facere recusandae! Dolorem!</h4> %>
    <%# <br>
    <br>
    <br>

  </div>
</div> %> 
  <!-- ----------bio-------------- -->
<br>
<br>
<br>
<br>
<br>
<div id="bio" class=" bio-music pt-5 p-3 pb-5" data-aos="zoom-out" data-aos-duration="3000">
  <%= image_tag "toni-profile.jpg", class: "toni-img" %>
  <div class="inner-bio container">
    <br>
    <h3 class="text-center">My Story</h3>
    <br>
    <p>I`ve been passionated about music since teenage years.Recently had a chance and decided to try and make my own music,so I start read and learn every day about all type of Electronic Music.</p>
    <br>
    <h3 class="text-center">My Tools</h3>
    <br>
    <ul>
      <li>PC - i7, GTX 2060, </li>
      <li>Software - FL Studio 20, Nexus</li>
      <li>Keyboard - P3500</li>
      <li>bla bla</li>
    </ul>
  </div>
</div>
<!-- -----you tube videos -->
<div class=" text-center mt-5 wrap-videos">
  <h2>You Tube Videos</h2>
  <p>Please subscribe to my chanel and help me grow it. <br> Thank You!</p>
  <div class="videos " id="video">
    <div class="media-videos">
      <iframe  width="100%" height="315" src="https://www.youtube.com/embed/ilwKKegcpIc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="media-videos">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/0pyJ10LbnqE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="media-videos">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/VwPg3GboN8g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>


<!-- -----sound cloud----- -->
<div id="music" class="container text-center pt-5 pb-5">
  <h2>My Music on Soundcloud</h2>
  <p>Please go and check it out, don`t forget to subscribe :) <br> Thank You!</p>
  <div class="videos ">
    <div class="media-videos">
      <iframe width="100%" height="600" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1148310751&color=%230a0a0e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
    <div class="media-videos">
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/832932562&color=%230a0a0e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
    <div class="media-videos">
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/832931578&color=%230a0a0e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
  </div>
</div>
<!-- -----BLOG------------------ -->
<div id="blog" class=" blog-music pt-5 pb-5" data-aos="zoom-out" data-aos-duration="3000" >
  <div class="inner-blog container">
      <h5> The Big Bass Drum</h5>
      <br>
      <p>
It’s hard to overstate the impact your kick drum has on your tune as a whole, something I can get a bit obsessed about but its a healthy obsession considering the impact the Bass Drum can have on a House or Techno tune. Putting my personal OCD aside, the fact is, if your mixing breaks or four to the floor or anything else. Quite often the Bass or Kick drum is elevated in importance because of the way every other sound you hear is given its context by its relation to it.  Everything plays off it… or directly works in reference to it.  So your work and choice with the bass drum is really important, but hey I don’t need to tell you guys that do I? Hands up who hasn’t spent a whole evening going through kicks trying to find the right one, or spent the evening tweaking the EQ until the sun came back up.  This kind of obsession may seem unproductive, a by-product of not having that overview or perspective on your track… I am here to tell you… carry on its a vital part of the process and if you’re not happy with your kick, keep going until it’s right as the most important thing is to get your anchor right, and of course there are a few things to keep in mind as you work.</p>
<br>
<br>
<h5>Music is tricky, bass drums even more so.</h5>
<br> 
<p>One of the most common mistakes people make in their production is trying to fix all sorts of problems in the mix. By far the most common miss-step I find is that people seem to think that by just making the kick louder they can alleviate a lot of issues with their groove, make it smack more and help everything sit in place.  The reason this mistake is common is because there are all sorts of psychological and psycho-acoustic cues that you get from something becoming louder, it sounds better ‘at first glance’.  When you’re working on your song and mix you are often zeroing in on one sound which can leave your perception of the mix as a whole a bit lacking, but when it comes to the balance of the kick you really need to take a step back to get it in the pocket.  Of course there is a lot of artistic license for how your mix stacks up, so where the “pocket” is on your song is going to vary, but having your kick way too loud is always going to sound worse, the kick should always sit in that pocket, it’s the fact it sits nicely in that pocket that will make it impact-full and energetic in the context of your track and making it 10Db louder than the rest of the mix will do nothing for your mix and start to break some of that context it gives to all your other parts, so be on your guard.</p>
<br>
<p> Author: Matthew Sargeant</p>
    </div>
</div>

<div class="div-to-web text-center pt-5">
  <%= link_to image_tag("db-web-trans.png", class: "link-to-music"), root_path %>
  <p class="red">by Lyubomir Dias</p>
</div>

<!-- ---contacts----- -->
<div class="footer-music container mt-5" id="contacts" >
  <div class="music-links" >
    <ul class="music-links-ul">
      <li class="music-links-li"><a href="https://www.facebook.com/profile.php?id=100010174355792" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li class="music-links-li"><a href="https://www.youtube.com/channel/UCa-Vo91LgoOCAP4p1kEx9IA" target="_blank"><i class="fab fa-youtube"></i></a></li>
      <li class="music-links-li"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li class="music-links-li"><a href="https://soundcloud.com/antoan-dias" target="_blank"><i class="fab fa-soundcloud"></i></a></li>
      <li class="music-links-li"><a href="https://www.instagram.com/antoan_dias/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a></li>
  </div>
  <p class="text-center">© 2020 <span class="spec-text2">db</span> MUSIC </p>

  <div class="by-hover db-music2 text-left">
    <%= link_to image_tag("db-web-trans.png", class: "db-web-logo"), root_path %><p class="by-music2">by Lyubomir Dias</p>
  </div>
</div>

<div class="mobile-navbar-music">
    <ul class="mobile-navbar-music-ul">
      <li class="mobile-navbar-music-li"><a href="#blog"><i class="fab fa-blogger-b"></i><br>Blog</a></li>
      <li class="mobile-navbar-music-li"><a href="#video"><i class="fab fa-youtube"></i><br>Video</a></li>
      <li class="mobile-navbar-music-li"><a href="#bio"><i class="fas fa-book-open"></i><br>Bio</a></li>
      <li class="mobile-navbar-music-li"><a href="#music" ><i class="fas fa-headphones"></i><br>Music</a></li>
      <li class="mobile-navbar-music-li"><a href="#contacts"><i class="fas fa-address-book"></i> <br>Contacts</a></li>
    </ul>
</div>
