<div class="container">
  <br>
  <br>
  <h1 class="text-center" >Terms of Use</h1>
  <br>
  <h4>PLEASE READ THESE TERMS CAREFULLY BEFORE USING THIS WEBSITE</h3>
  <br>
  <p>These terms of website use (together with the documents referred to in them) tell you the terms of use on which you may make use of our website https://www.db-uk.net (my site). Use of our site includes accessing or browsing our site.
  <br>
  <br>
  By using our site, you confirm that you accept these terms of use and that you agree to comply with them.
  <br>
  <br> 
   We may revise these terms of use at any time by amending this page. Please check this page from time to time to take notice of any changes we make, as they are binding on you.
  <br>
  <h4>Other applicable terms</h4>
  <br>
  These terms of use refer to the following additional terms, which also apply to your use of our site:
  <br>
  <br>
  My Privacy Notice https://www.db-uk.net/privacy-policy (that includes our cookie policy) sets out the terms on which we process any personal data and sets out information about the use of cookies on our site. By using our site, you consent to such processing and you warrant that all data provided by you is accurate.
  <br>
  <br>
  <div class="image-div ">
  <h4> Changes to our site</h4>
  <br>
  We may update our site from time to time and may change the content at any time. However, please note that any of the content on our site may be out of date at any given time, and we are under no obligation to update it.
  <br>
  <br>
  We do not guarantee that our site, or any content on it, will be free from errors or omissions.
  
  <br>
  <br>
  <h4>Accessing our site</h4> 
  <br>
  <br>
  
  We do not guarantee that our site, or any content on it, will always be available or be uninterrupted. Access to our site is permitted on a temporary basis, and we reserve the right to withdraw or amend the service we provide on our site without notice. We will not be liable if, for any reason, our site is unavailable at any time or for any period.
  
  <br>
  <br>
  </div>
  From time to time, we may restrict access to some parts of our site, or the entire of our site, to users who have registered with us.
  <br>
  <br>
  You are responsible for making all arrangements necessary for you to have access to our site. You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms, and that they comply with them.
  <br>
  <br>
  <h4>Intellectual property rights</h4> 
  <br>
  <br>
  We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it. Those works are protected by copyright laws and treaties in the United Kingdom and other jurisdictions around the world where we have registered our intellectual property. All such rights are reserved.
  <br>
  <br>
  The material and content contained within our site is made available to you for your personal noncommercial use only. Any other use of the material and content of our site is strictly prohibited.
  <br>
  <br>
  You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.
  <br>
  <br>
  Our status (and that of any identified contributors) as the authors of content on our site must always be acknowledged.
  <br>
  <br>
  You agree not to (and agree not to assist or facilitate any third party to) copy, reproduce, transmit, publish, display, distribute, commercially exploit or create derivative works or otherwise use in whole or in part any material, content or products obtained from our site.
  <br>
  <br>
  If you use material and content on any part of our site in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.
  <br>
  <br>
  <div class="image-div ">
  
  <h4>No reliance on information</h4> 
  <br>
  <br>
  The content on our site is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on our site.
  <br>
  <br>
  Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or implied, that the content on our site is accurate, complete or up-to-date.
  <br>
  <br>
  <h4>Limitation of our liability</h4> 
  <br>
  <br>
  Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.
  <br>
  <br>
  </div>
  To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our site or any content on it, whether express or implied.
  <br>
  <br>
  We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
  <br>
  <br>
  &nbsp; &nbsp; &bull; use of, or inability to use, our site; or
  <br>
  <br>
  &nbsp; &nbsp; &bull; use of, or reliance on, any content displayed on our site.
  
  <br>
  <br>
  Please note that we only provide our site for domestic and private use. You agree not to use our site for any commercial or business purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.
  <br>
  <br>
  We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any content on it, or on any website linked to it.
  <br>
  <br>
  We assume no responsibility for the content of websites linked on our site. Such links should not be interpreted as endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them.
  <br>
  <br>
  <h4>Prohibited uses</h4> 
  <br>
  <br>
  You may use our site only for lawful purposes. You may not use our site:
  <br>
  <br>
  &nbsp; &nbsp; &bull;In any way that breaches any applicable local, national or international law or regulation.
  <br>
  <br>
  &nbsp; &nbsp; &bull;In any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect.
  <br>
  <br>
  &nbsp; &nbsp; &bull;To send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards.
  <br>
  <br>
  &nbsp; &nbsp; &bull;To transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam).
  <br>
  <br>
  &nbsp; &nbsp; &bull;To knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.
  <br>
  <br>
  &nbsp; &nbsp; &bull;For the purpose of harming or attempting to harm minors in any way.

  You also agree:

  &nbsp; &nbsp; &bull;Not to reproduce, duplicate, copy or re-sell any part of our site in contravention of the provisions of these terms of use.

  &nbsp; &nbsp; &bull;Not to access without authority, interfere with, damage or disrupt:
  <br>
  <br>
  &nbsp; &nbsp; (a) any part of our site;
  <br>
  <br>
  &nbsp; &nbsp; (b) any equipment or network on which our site is stored;
  <br>
  <br>
  &nbsp; &nbsp; (c) any software used in the provision of our site; or
  <br>
  <br>
  &nbsp; &nbsp; (d) any equipment or network or software owned or used by any third party in connection with our site, or your access to our site.
  <br>
  <br>
  <h4>Rights you license</h4> 
  <br>
  <br>
  When you upload or post content to our site, you grant us, and any third parties who assist with the provision of our site (including trusted services provides and delivery partners), a non-exclusive, royalty-free, sub-licensable licence to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute and display that content in any format throughout the world.
  <br>
  <br>
  <h4>Viruses</h4> 
  <br>
  <br>
  We do not guarantee that our site will be secure or free from bugs or viruses.
  <br>
  <br>
  You are responsible for configuring your information technology, computer programmes and platform in order to access our site. You should use your own virus protection software.
  <br>
  <br>
  You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.
  <br>
  <br>
  <div class="image-div ">

  <h4>Linking to our site</h4> 
  <br>
  <br>
  You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it. You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.
  <br>
  <br>
  We reserve the right to withdraw linking permission without notice.
  <br>
  <br>
  The website in which you are linking must comply in all respects with the content standards set out in these terms of use.
  <br>
  <br>
  <h4>Third party links and resources in our site</h4> 
  <br>
  <br>
  In an attempt to provide increased value to our visitors, we may provide links to third party websites. You acknowledge and agree that we are not responsible for the availability of such external sites or resources, and do not endorse and are not responsible or liable, directly or indirectly, for the privacy practices or the content of such websites.
  </div>
  <br>
  <br>
  <h4>Entire agreement</h4> 
  <br>
  <br>
  These terms of use, together with our privacy policy https://www.db-uk.net/privacy-policy (which includes our cookie policy), constitute the entire agreement between you and us in relation to your use of our website.
  <br>
  <br>
  <h4>Compliance with laws</h4> 
  <br>
  <br>
  Our site may be used only for lawful purposes and in a lawful manner. You agree to comply with all applicable laws, statutes and regulations regarding our site and any transactions conducted on or through our site.
  <br>
  <br>
  <h4>Applicable law</h4> 
  <br>
  <br>
  Please note that these terms of use, their subject matter and their formation, are governed by English law. You and we both agree to that the courts of England and Wales will have non-exclusive jurisdiction. However, if you are a resident of Northern Ireland you may also bring proceedings in Northern Ireland, and if you are resident of Scotland, you may also bring proceedings in Scotland.
  <br>
  <br>
  <h4>Trade marks</h4> 
  <br>
  <br>
  Registered and unregistered trademarks or service marks on our website are the property of their respective owners. Unless stated otherwise, we do not endorse and are not affiliated with any of the holders of any such rights and as such we cannot grant any licence to exercise such rights.
  <br>
  <br>
  <h4>Contact us</h4> 
  <br>
  <br>
  <a href="http://www.db-uk.net#contacts" >www.db-uk.net</a>
  <br>
  <br>
  Thank you for visiting our site.
  <br>
  <br>
  </p>
</div>
<div class="d-flex align-items-center justify-content-center h-100" >
  <%= link_to 'Home', root_path, class: "btn btn-lg btn-outline-danger" %>
</div>
<br>
<br>